/Impreza/
/Library/
/Temp/
/Logs/
/Obj/
/UserSettings/
/Build/
/Tools/
/ReferenceFrames/
*.log
*.csproj
!PortableLauncher/PortableLauncher.csproj
*.sln
/PortableLauncher/bin/
/PortableLauncher/obj/
/PortableLauncher/publish/
/GotlandRing-Portable.exe
/IMG_*
/unstaged/

/PortableLauncher/Game.zip
